*{
    font-size: 17px;
}
.form-center{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    justify-content: center;
    margin: 20px;
}
h2{
    text-align: center;
}
.form-box{
    border-top: 1px solid black;
    background-color: beige;
}
.event-desc{
    width: 100%;
    height: 40px;
}
